body{
    font-family: 20px Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.navbar{
    background-color: #A9F5A9;
}

.quem-somos{
    background-color: burlywood;
}

.margin {
    padding-bottom: 20px;
    padding-top: 10px ;
    color: black;
}

.frase{
    font-size: 20px;
    font-style: italic;
}

.parceiros {
    background-color: darkgrey;
    padding-top: 10px;
}

.bg-footer{
    background-color: black;
    padding-top: 10px;
    color:whitesmoke
}